.container {
    margin-top: 275px;
    margin-left: 75px;
} 
.fas, .fab, .far{
    padding: 5px;
    font-size: 36px;
    color: black;
}
.btn {
    color: black;   
}
.contact-me {
    margin-top:150px;
}
.projects {
    margin-top:150px;
}
.header {
    margin-bottom: 20px;
}